body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container {
    text-align: center;

}

#player {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
